@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&display=swap');

* {
    font-family: "Comic Relief", Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: rgb(123, 198, 255);
    margin: 0px;
}

#top-ui {
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: center;
    margin-bottom: 27.5px;
    background-color: rgb(24, 128, 255);
}

#main-ui {
    display: flex;
    justify-content: center;
    gap: 80px;
}

.title {
    font-size: 3.6em;
    color: white;
}

.color-picker {
    border: solid 2px rgb(215, 215, 215);
    border-radius: 50%;
    align-self: center;
    height: 110px;
    width: 110px;
    cursor: pointer;
}

.color-picker,
.color-picker::-webkit-color-swatch-wrapper {
    padding: 0;
}

.color-picker::-webkit-color-swatch { 
    border: none;
}

.color-picker::-moz-color-swatch {
    border: none;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-self: center;
    padding: 32px 32px 20px;
    border: solid 5px white;
    background-color: rgb(60, 148, 255);
    border-radius: 25px;
    gap: 20px;
}

button {
    width: 180px;
    height: 50px;
    flex-shrink: 0;
    border: solid 2px white;
    background-color: rgb(23, 105, 207);
    border-radius: 10px;
    font-size: 1.2em;
    color: white;
    transition: 0.3s;
    cursor: pointer;
}

.buttons>button:hover {
    background-color: rgb(19, 84, 163);
}

.active {
    background-color: rgb(14, 65, 126);
}

.range {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 8px;
    background: white;
    border-radius: 25px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    background: rgb(23, 98, 191);
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
}

input[type="range"]:hover::-webkit-slider-thumb {
  background: rgb(14, 66, 130);
}

input[type="range"]:active::-webkit-slider-thumb {
  background: rgb(3, 37, 79);
}

label {
    color: white;
    text-align: center;
    font-size: 1.5em;
    padding: 0;
}

.draw-container {
    background-color: white;
    border: solid 5px black;
    align-self: center;
    border-radius: 10px;
    width: 660px;
    height: 660px;
    flex-shrink: 0;
    display: flex;
}

.draw-container>div {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

.draw-container>div>div {
    flex: 1;
}

.grid {
    border: 0.1px solid rgba(0, 0, 0, 0.1);
}